{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.0/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="header">
        <p class="fs text-center mb-3">图书管理系统</p>
        <div class="row text-center">
            <div class="col">
                <a href="{% url 'add' %}" class="text-info">添加图书</a>
            </div>
            <div class="col">登录 注册</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-info">
            <div class="row">
                <div class="col  text-center font-weight-bold">序号</div>
                <div class="col  text-center font-weight-bold">名称</div>
                <div class="col  text-center font-weight-bold">价格</div>
                <div class="col  text-center font-weight-bold">作者</div>
                <div class="col  text-center font-weight-bold">出版社</div>
                <div class="col  text-center font-weight-bold">出版日期</div>
                <div class="col  text-center font-weight-bold">分类</div>
                <div class="col  text-center font-weight-bold">操作</div>
            </div>

        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for book in books %}
                    <div class="row">
                        <div class="col text-center">{{ book.id }}</div>
                        <div class="col text-center">{{ book.name }}</div>
                        <div class="col text-center">{{ book.price }}</div>
                        <div class="col text-center">{{ book.author }}</div>
                        <div class="col text-center">{{ book.publisher.name }}</div>
                        <div class="col text-center">{{ book.pub_date|date:"Y-m-d" }}</div>
                        <div class="col text-center">{{ book.sort.name }}</div>
                        <div class="col text-center">
                            <a type="button" href="{% url 'edit' book.id %}" class="btn btn-primary">编辑</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#staticBackdrop">
                                删除
                            </button>

                            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
                                 tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            确定要删除《{{ book.name }}》？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消
                                            </button>
                                            <button type="button" class="btn btn-primary">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
</body>
</html>